<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(<%= asset_url('babysfeet.jpg') %>);">
    <div class="banner-content">
      <h1>Trying to keep track of your child's medical events? <br> It is important! </h1>
        <br>
      <%= link_to "Try it for FREE!", new_user_registration_path, class: 'btn btn-lg hommie'  %>
       <h1>we got you!</h1>
    </div>
  </div>
</div>
