<div class="wrapper">
  <div class="banner">
    <div class="container inside-banner">
      <%= render 'components/homenav' %>
      <div class="row banner-row">
        <div class="col-12 col-sm-8 col-lg-6 banner-content-box">
          <div class="banner-content">
            <h1 class="banner-title">Tracking is caring.</h1>
            <p class="banner-subtitle">BabySteps is an app for logging your child's routine in an easy way.</p>
            <%= link_to "Get Started – It’s Free", new_user_registration_path, class: 'banner-btn'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
