<a href="#" class="crying-card" data-toggle="modal" data-target="#modalCrying">
  <div class="crying-card-badge">
    <div class="crying-card-icon">
      <%= svg_tag "babysteps-crying.svg" %>
    </div>
  </div>
  <div class="episode-card-text">
    <h2 class="episode-card-type">Crying</h2>
    <p class="episode-card-subtitle">Crying intensity is as important as frequency.</p>
  </div>
</a>
