<a href="#" class="feeding-card" data-toggle="modal" data-target="#modalFeeding">
  <div class="feeding-card-badge">
    <div class="feeding-card-icon">
      <%= svg_tag "babysteps-bottle.svg" %>
    </div>
  </div>
  <div class="episode-card-text">
    <h2 class="episode-card-type">Feeding</h2>
    <p class="episode-card-subtitle">Track all baby bottles, fruits, snacks and meals.</p>
  </div>
</a>
