<a href="#" class="diaper-card" data-toggle="modal" data-target="#modalDiaper">
  <div class="diaper-card-badge">
    <div class="diaper-card-icon">
      <%= svg_tag "babysteps-diaper.svg" %>
    </div>
  </div>
  <div class="episode-card-text">
    <h2 class="episode-card-type">Diaper Changing</h2>
    <p class="episode-card-subtitle">Track everytime the changes the diaper.</p>
  </div>
</a>
