<nav class="homenav">
  <a class="navbar-brand"><%= svg_tag "babysteps-logo.svg" %></a>
  <ul class="list-inline">
    <li class="list-inline-item"><%= link_to "log in", new_user_session_path %></li>
    <li class="list-inline-item"><%= link_to "sign up", new_user_registration_path, class: 'btn btn-success btn-sm' %></li>
  </div>
</nav>
