<div class="container features-container">
  <div class="row">
    <div class="col-12 features-box">
      <h2 class="features-title">Tracking your child's routine has never been so easy.</h2>
    </div>
  </div>
  <div class="features">
    <div class="features-devices">
      <img src="http://eduardoin.com/le-wagon/babysteps-devices.png" alt="BabySteps works in computers and smartphones">
    </div>
    <div class="features-text">
      <div class="features-item">
        <h3 class="features-topic">Everyday events on a click.</h3>
        <p class="features-description">Track the most common events of your child's life. We got you.</p>
      </div>
      <div class="features-item">
        <h3 class="features-topic">Track fast, improve anytime.</h3>
        <p class="features-description">Log events with 2 clicks, period. Edit and insert more information later, no rush.</p>
      </div>
      <div class="features-item">
        <h3 class="features-topic">Others can help you.</h3>
        <p class="features-description">Invite other people to log in your child's profile. It's perfect for babysitting.</p>
      </div>
    </div>
  </div>
</div>
