<div class="wrapper hospital-wrapper">
<div class="container hospital-container">
  <h2 class="hospital-title">Your child's medical history in your pocket.</h2>
  <div class="row hospital-content">

    <div class="col-12 col-lg-4 hospital-box">
      <div class="hospital-badge-doctor">
        <%= svg_tag "babysteps-doctor.svg" %>
      </div>
      <div class="hospital-card">
        <h3 class="hospital-topic">Share with the doctor.</h3>
        <p class="hospital-description">Easy and safe sharing with the pediatrician or the hospital staff.</p>
      </div>
    </div>

    <div class="col-12 col-lg-4 hospital-box">
      <div class="hospital-badge-timeline">
        <%= svg_tag "babysteps-timeline.svg" %>
      </div>
      <div class="hospital-card">
        <h3 class="hospital-topic">Look at the timeline.</h3>
        <p class="hospital-description">The last events are the most important in an emergency. Focus on our timeline.</p>
      </div>
    </div>

    <div class="col-12 col-lg-4 hospital-box">
      <div class="hospital-badge-chart">
        <%= svg_tag "babysteps-chart.svg" %>
      </div>
      <div class="hospital-card">
        <h3 class="hospital-topic">Follow your child's growth.</h3>
        <p class="hospital-description">Track your child's height and weight and follow it in development charts.</p>
      </div>
    </div>

  </div>
</div>
</div>
