
<ul class="list-unstyled">
  <% 5.times do %>
    <li>
      <div class="log_card">
        <div class="log_card-badge">
         <div class="log_card-icon">
              <%= svg_tag "babysteps-feeding.svg" %>
            </div>
        </div>
        <div class="log_card-content">
          <div class="log_card-text">
            <p class="log_card-time">Today, 8:45</p>
            <h2 class="log_card-type">Feeding</h2>
            <p class="log_card-subtitle">Track all baby bottles, fruits, snacks and meals.</p>
          </div>
        </div>
        <div class="log_card-actions">
          <div class="btn-group dropleft">
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="log_card-badge">
        <div class="log_card-icon">

        </div>
      </div>
      </div>
      <div class="col-xs-4">
      <div class="log_card-text">
        <h2 class="log_card-type">Feeding</h2>
        <p class="log_card-subtitle">Track all baby bottles, fruits, snacks and meals.</p>
      </div>
    </div>
  </div>
</div>
<div class="btn-group dropleft">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropleft
  </button>
  <div class="dropdown-menu">


