<div class="container team-box">
  <h2 class="team-title">BabySteps Team</h2>
  <div class="team-members">

    <div class="team-member">
      <div class="team-photo"><img src="http://eduardoin.com/le-wagon/babysteps-team-eduardo.jpg" alt="Eduardo Insaurriaga"></div>
      <h3 class="team-name">Eduardo Insaurriaga</h3>
      <div class="team-line"></div>
      <div class="team-member-links">
        <a class="team-link-linkedin" href="https://www.linkedin.com/in/eduardoin/" target="_blank">
          <i class="fab fa-linkedin"></i></a>
        <a class="team-link-github" href="https://github.com/eduardoin/" target="_blank">
          <i class="fab fa-github" ></i></a>
        <a class="team-link-website" href="http://eduardoin.com/" target="_blank">
          <i class="fas fa-laptop"></i></a>
      </div>
    </div>

    <div class="team-member">
      <div class="team-photo"><img src="http://eduardoin.com/le-wagon/babysteps-team-guga.jpg" alt="Guga Weigert"></div>
      <h3 class="team-name">Guga Weigert</h3>
      <div class="team-line"></div>
      <div class="team-member-links">
        <a class="team-link-github" href="https://github.com/gugaweigert" target="_blank">
          <i class="fab fa-github" ></i></a>
        <a class="team-link-instagram" href="https://www.instagram.com/gugaweigert/" target="_blank">
          <i class="fab fa-instagram"></i></a>
        <a class="team-link-website" href="http://www.gugaweigert.com.br/" target="_blank">
          <i class="fas fa-laptop"></i></a>
      </div>
    </div>

    <div class="team-member">
      <div class="team-photo"><img src="http://eduardoin.com/le-wagon/babysteps-team-leonardo.jpg" alt="Leonardo Ferreira"></div>
      <h3 class="team-name">Leonardo Ferreira</h3>
      <div class="team-line"></div>
      <div class="team-member-links">
        <a class="team-link-linkedin" href="https://www.linkedin.com/in/leonardo-ferreira-632130179/" target="_blank">
          <i class="fab fa-linkedin"></i></a>
        <a class="team-link-github" href="https://github.com/leovsferreira" target="_blank">
          <i class="fab fa-github" ></i></a>
      </div>
    </div>

    <div class="team-member">
      <div class="team-photo"><img src="http://eduardoin.com/le-wagon/babysteps-team-svetlana.jpg" alt="Svetlana Berrios"></div>
      <h3 class="team-name">Svetlana Berrios</h3>
      <div class="team-line"></div>
      <div class="team-member-links">
        <a class="team-link-linkedin" href="https://www.linkedin.com/in/svetlana-berrios-048181153/" target="_blank">
          <i class="fab fa-linkedin"></i></a>
        <a class="team-link-github" href="https://github.com/svetamedved" target="_blank">
          <i class="fab fa-github" ></i></a>
        <a class="team-link-stack" href="https://stackoverflow.com/users/7246551/svetlana-berrios" target="_blank">
          <i class="fab fa-stack-overflow"></i></a>
      </div>
    </div>

    </div>

  <a class="lewagon-card" href="https://www.lewagon.com/" target="_blank">
    <div class="lewagon-logo">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/4791/s300/logo-big.png" alt="Le Wagon logo">
    </div>
    <div class="lewagon-text">
      <p>BabySteps is an app created as the final project for <strong>Le Wagon</strong>, the best coding bootcamp in the world.</p>
    </div>
  </a>
</div>
