// Define variables for your color scheme

$white: #FFFFFF;

$hover-main: #3078BF;
$dark-main: #223344;
$dawn-main: #596673;
$medium-main: #9099A1;
$light-main: #BDC2C7;
$border-main: #DEE0E3;
$line-main: #E9EBEC;

$hover-diaper: #FAC900;
$dark-diaper: #FBD200;
$light-diaper: #FFFCA4;

$hover-feeding: #FF684E;
$dark-feeding: #FF8162;
$light-feeding: #FFD8C8;

$hover-crying: #39B6F4;
$dark-crying: #47C2F6;
$light-crying: #D9F4FF;

$hover-medication: #61D93A;
$dark-medication: #79DF49;
$light-medication: #DEFFCF;

$hover-fever: #FFAB1A;
$dark-fever: #FFB920;
$light-fever: #FFE6AF;

$hover-vomiting: #3CC5BC;
$dark-vomiting: #4BCFC7;
$light-vomiting: #BCFFFB;

$hover-bruise: #7A5DFF;
$dark-bruise: #9074FF;
$light-bruise: #DDC8FF;

$hover-other: #FF5CEE;
$dark-other: #FF73F1;
$light-other: #FFD2FB;

$hover-weight: #5C81FF;
$dark-weight: #7396FF;
$light-weight: #C7D5FF;

$hover-height: #FF3941;
$dark-height: #FF525D;
$light-height: #FFBABE;

$hover-share: #3078BF;
$dark-share: #3078BF;
$light-share: #B2D9FF;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
