// Define variables for your color scheme

$white: #FFFFFF;

$dark-main: #223344;
$medium-main: #9099A1;
$light-main: #BDC2C7;
$border-main: #DEE0E3;
$line-main: #E9EBEC;
$hover-main: #3078BF;

$dark-diaper: #FBD200;
$light-diaper: #FFFCA4;
$dark-feeding: #FF8162;
$light-feeding: #FFD8C8;
$dark-crying: #47C2F6;
$light-crying: #D9F4FF;
$dark-medication: #79DF49;
$light-medication: #DEFFCF;
$dark-fever: #FFB920;
$light-fever: #FFE6AF;
$dark-vomiting: #4BCFC7;
$light-vomiting: #BCFFFB;
$dark-bruise: #9074FF;
$light-bruise: #DDC8FF;
$dark-other: #FF73F1;
$light-other: #FFD2FB;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
