<div class="container">
  <div class="row episodes-panel">
    <div class="col-12 episodes-list">
      <div class="row episodes-grid">
        <% @episodes.each do |episode| %>
          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3">
            <%= render 'components/episode_card', kid: @kid, episode: episode %>
            <%= render 'components/modal', kid: @kid, episode: episode %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
