<div class="row episodes-panel">
  <div class="col-xs-12 episodes-list">
    <% @episodes.each do |episode| %>
      <%= render 'components/episode_card', kid: @kid, episode: episode %>
      <%= render 'components/modal', kid: @kid, episode: episode %>
    <% end %>
  </div>
</div>
