.high-res {
  display: flex;
  flex-direction: row;
}
.high-menu {
  background-color: $dark-main;
  width: 200px;
  height: 100vh;
}
.episodes-panel {
  margin: 40px 9px 0 9px;
}
.episodes-list {
  margin: 0;
}

@media (min-width: 768px) {
  .episodes-panel {
    margin: 56px 56px 0 56px;
  }
  .episodes-list li {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .episodes-panel {
    margin: 56px 40px 0 40px;
  }
}

@media (min-width: 1320px) {
  .episodes-panel {
    margin: 56px 96px 0 96px;
  }
}

@media (min-width: 1420px) {
  .episodes-panel {
    margin: 56px 144px 0 144px;
  }
}
