.high-res {
  display: flex;
  flex-direction: row;
}
.high-menu {
  background-color: $dark-main;
  width: 200px;
  height: 100vh;
}
.episodes-panel {
  margin: 240px 9px 0 9px;
}
.episodes-list {
  margin: 0;
}

@media (min-width: 768px) {
  .episodes-panel {
    margin: 240px 40px 0 40px;
  }
  .episodes-list li {
    display: inline;
  }
}

@media (min-width: 992px) {
  .episodes-panel {
    margin: 204px 40px 0 40px;
  }
}

@media (min-width: 1200px) {
  .episodes-panel {
    margin: 204px 40px 0 40px;
  }
}

@media (min-width: 1340px) {
  .episodes-panel {
    margin: 204px 96px 0 96px;
  }
}

@media (min-width: 1440px) {
  .episodes-panel {
    margin: 204px 144px 0 144px;
  }
}
