.shader {
  background-color: $border-main;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  left: 0;
  opacity: 0.5;
}
.shader.active {
  display: block;
}

.drawer-button {
  position: fixed;
  top: 16px;
  right: 8px;
  padding: 16px;
  background: none;
  border: none;

  &:focus {
    outline-width: 0;
  }
}

.container-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: strech;
}

.main {
  // background: white;
  width: 100%;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

.display-fig {
  height: 84px;
  margin: 32px 24px;
}

.display-fig svg {

  left: 4.0%;
  right: 91.77%;
  top: 6.11%;
  bottom: 91.78%;
}

.rownav {
  // background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.03);
}
.display-links-kids, .display-links {
  width: 284px;
  padding: 0 0 32px 16px;
}
.kid-link-box {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.user-link-box, .bs-link-box {
  width: 284px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.display-links-kids a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  color: $white;
  opacity: 0.5;
  padding: 0 0 0 8px;
}
.user-link-box a,
.bs-link-box a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 100;
  line-height: 35px;
  color: $white;
  opacity: 0.5;
  padding: 0 0 0 8px;
}
.display-links-kids a:hover,
.user-link-box a:hover,
.bs-link-box a:hover {
  text-decoration: none;
  opacity: 1;
}
.display-links-kids a:active,
.user-link-box a:active,
.bs-link-box a:active {
  text-decoration: none;
  opacity: 1;
  background-color: #1B2936;
  border-radius: 4px 0 0 4px;
}

.sidebar-drawer {
  width: 300px;
  background-color: #223344;
  position: fixed;
  top: 0;
  right: -100%;
  display: block;
  z-index: 12;
  transition: right ease-out 0.35s;

  &.active {
    right: 0;
    height: 100%;
  }
}

@media (min-width: 576px) {
  .drawer-button {
    right: 16px;
  }
}

@media (min-width: 768px) {
  .drawer-button {
    right: 16px;
  }
}

@media (min-width: 992px) {
  .main {
    margin-left: 200px;
  }
  .sidebar-drawer {
    width: 200px;
  }
  .display-links-kids,
  .display-links,
  .kid-link-box,
  .user-link-box,
  .bs-link-box {
    width: 184px;
  }
}

@include media-breakpoint-up(lg) {
  .sidebar-drawer {
    position: fixed;
    right: 0;
    left: 0;
    height: 100%;
  }
}
