.episodes-panel-profile {
  margin: 240px 9px 0 9px;
}
.episodes-list-profile {
  margin: 0;
}

@media (min-width: 768px) {
  .episodes-panel-profile {
    margin: 240px 40px 0 40px;
  }
  .episodes-list-profile li {
    display: inline;
  }
}

@media (min-width: 992px) {
  .episodes-panel-profile {
    margin: 204px 40px 0 40px;
  }
}

@media (min-width: 1200px) {
  .episodes-panel-profile {
    margin: 204px 40px 0 40px;
  }
}

@media (min-width: 1340px) {
  .episodes-panel-profile {
    margin: 204px 96px 0 96px;
  }
}

@media (min-width: 1440px) {
  .episodes-panel-profile {
    margin: 204px 144px 0 144px;
  }
}


.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


