<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="navbar-content">
    <div class="navbar-kid-genmenu">
      <%= link_to "#", class: "navbar-kid" do %>
      <img src="http://eduardoin.com/le-wagon/baby-sophia.png" alt="">
      <h1 class="current-kid-name">Sophia</h1>
      <% end %>
    </div>
    <div class="kid-menu">
      <a class="kid-menu-item active" href="">tracking</a>
      <a class="kid-menu-item" href="">full log</a>
      <a class="kid-menu-item" href="">chart</a>
      <a class="kid-menu-item" href="">share</a>
    </div>
  </div>
</div>
