<div class="row episodes-panel-profile">
  <div class="col-12 episodes-list-profile">

    <p class="help-text"><strong>BabySteps</strong> is an app created as the final project for <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>, the best coding bootcamp in the world. It is the result of a lot of love and dedication. Besides learning, our goal with this project is helping new parents to track and be aware of their children's routines and events. We really believe that it is an easy and simple way of becoming better caregivers.</p>
    <p class="help-text">If you have any question about how to use <strong>BabySteps</strong>, keep in touch with us. We are gonna love to help you with that.</p>

    <div class="help-links">
      <a class="help-link-item" href="https://www.facebook.com/babystepsapp/" target="_blank">
        <i class="fab fa-facebook"></i>Facebook</a>

      <a class="help-link-item" href="https://twitter.com/babystepstech" target="_blank">
        <i class="fab fa-twitter"></i>Twitter</a>

      <a class="help-link-item" href="mailto:babysteps.tracking@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>Email</a>

    </div>
  </div>
</div>



