<div class="row episodes-panel-profile">
  <div class="col-12 episodes-list-profile">
    <h4>Username: <%= @user.username %></h4>
    <h4>Email: <%= @user.email %></h4>
    <%= link_to "Edit",  edit_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
