//democard democard:HOVER BADGE ICON
//BRUISE
.bruise-democard {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}


.bruise-democard-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-bruise;
  margin-right: 20px;
}
.bruise-democard-icon svg {
  width: 28px;
}


//CRYING
.crying-democard {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.crying-democard-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-crying;
  margin-right: 20px;
}
.crying-democard-icon svg {
  width: 28px;
}


//DIAPER CHANGING
.diaper_changing-democard {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.diaper_changing-democard-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-diaper;
  margin-right: 20px;
}
.diaper_changing-democard-icon svg {
  width: 26px;
  margin-top: 2px;
}


//FEEDING
.feeding-democard {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.feeding-democard-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-feeding;
  margin-right: 20px;
}
.feeding-democard-icon svg {
  height: 28px;
}


//FEVER
.fever-democard {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.fever-democard-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-fever;
  margin-right: 20px;
}
.fever-democard-icon svg {
  height: 28px;
}


//MEDICATION
.medication-democard {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.medication-democard-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-medication;
  margin-right: 20px;
}
.medication-democard-icon svg {
  width: 20px;
}


//OTHER
.other-democard {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.other-democard-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-other;
  margin-right: 20px;
}
.other-democard-icon svg {
  width: 24px;
}


//VOMITING
.vomiting-democard {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.vomiting-democard-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-vomiting;
  margin-right: 20px;
}
.vomiting-democard-icon svg {
  width: 28px;
  margin-top: 2px;
}


//GENERAL
.episode-democard-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h2.episode-democard-type {
  color: $dark-main;
  font-weight: 600;
  font-size: 18px;
  margin: 3px 0 1px 0;
}
p.episode-democard-subtitle {
  color: $medium-main;
  font-size: 14px;
  margin: 0;
}


@media (min-width: 768px) {
  //DESKTOP democard democard:HOVER BADGE ICON
  //BRUISE
  .bruise-democard {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $light-bruise;
    padding: 31px 23px 0 23px;
    width: 100%;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
      .bruise-democard-badge {
      background-color: $white;
    }
  }
  .bruise-democard-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
  }

  .bruise-democard-icon svg {
    width: 44px;
  }


  //CRYING
  .crying-democard {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $light-crying;
    padding: 31px 23px 0 23px;
    width: 100%;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
      .crying-democard-badge {
      background-color: $white;
    }
  }
  .crying-democard-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
  }

  .crying-democard-icon svg {
    width: 44px;
  }


  //DIAPER CHANGING
 .diaper_changing-democard {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $light-diaper;
    padding: 31px 23px 0 23px;
    width: 100%;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
      .diaper_changing-democard-badge {
      background-color: $white;
    }
  }

  .diaper_changing-democard-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
  }

  .diaper_changing-democard-icon svg {
    width: 42px;
  }


  //FEEDING
  .feeding-democard {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $light-feeding;
    padding: 31px 23px 0 23px;
    width: 100%;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
    .feeding-democard-badge {
      background-color: $white;
    }
  }


  .feeding-democard-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
  }

  .feeding-democard-icon svg {
    height: 44px;
  }


  //FEVER
  .fever-democard {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $light-fever;
    padding: 31px 23px 0 23px;
    width: 100%;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
    .fever-democard-badge {
      background-color: $white;
    }
  }


  .fever-democard-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
  }

  .fever-democard-icon svg {
    height: 46px;
  }


  //MEDICATION
  .medication-democard {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $light-medication;
    padding: 31px 23px 0 23px;
    width: 100%;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;

      .medication-democard-badge {
      background-color: $white;
    }
  }

  .medication-democard-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
    .medication-democard-icon svg {
      width: 32px;
    }
  }

  //OTHER
  .other-democard {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $light-other;
    padding: 31px 23px 0 23px;
    width: 100%;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
      .other-democard-badge {
      background-color: $white;
    }
  }
  .other-democard-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
  }

  .other-democard-icon svg {
    width: 40px;
  }
  .episode-democard-text {
    align-items: center;
  }


  //VOMITING
  .vomiting-democard {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $light-vomiting;
    padding: 31px 23px 0 23px;
    width: 100%;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
      .vomiting-democard-badge {
      background-color: $white;
    }
  }
  .vomiting-democard-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
  }

  .vomiting-democard-icon svg {
    width: 44px;
  }


//GENERAL
  .episode-democard-text {
    align-items: center;
  }
  h2.episode-democard-type {
    font-size: 24px;
    letter-spacing: -0.035em;
    margin: 0 0 10px 0;
    text-align: center;
  }
  p.episode-democard-subtitle {
    font-size: 16px;
    letter-spacing: -0.035em;
    text-align: center;
    line-height: 1.15;
  }
}
