.fever-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}
.fever-card:hover {
  text-decoration: none;
}
.fever-card-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-fever;
  margin-right: 20px;
}
.fever-card-icon svg {
  height: 28px;
}
.episode-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h2.episode-card-type {
  color: $dark-main;
  font-weight: 600;
  font-size: 18px;
  margin: 3px 0 1px 0;
}
p.episode-card-subtitle {
  color: $medium-main;
  font-size: 14px;
  margin: 0;
}
@media (min-width: 992px) {
  .fever-card {
    border: solid 1px $line-main;
    border-radius: 8px;
    background-color: $white;
    padding: 31px 23px 0 23px;
    width: 212px;
    height: 248px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  }
  .fever-card:hover {
    border: solid 1px $light-fever;
    background-color: $light-fever;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    .fever-card-badge {
    background-color: $white;
  }
  }
  .fever-card-badge {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 18px;
    transition: background-color 0.5s ease;
  }

  .fever-card-icon svg {
    height: 46px;
  }
  .episode-card-text {
    align-items: center;
  }
  h2.episode-card-type {
    font-size: 24px;
    letter-spacing: -0.035em;
    margin: 0 0 10px 0;
    text-align: center;
  }
  p.episode-card-subtitle {
    font-size: 16px;
    letter-spacing: -0.035em;
    text-align: center;
    line-height: 1.15;
  }
}
