.homenav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 84px;
  padding: 0 9px;
  flex-shrink: 0;
}
.homenav-logo svg {
  width: 128px;
  margin-bottom: 12px;
}
.homenav-access {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.homenav-btn {
  color: $dark-main;
  line-height: 1;
  font-size: 16px;
  padding: 6px 12px 9px 12px;
}
.homenav-btn:hover {
  color: $hover-main;
  text-decoration: none;
}
.login-btn {
  border: solid 1px transparent;
}
.signup-btn {
  border: solid 1px rgba(34,51,68,0.25);
  border-radius: 4px;
}
.signup-btn:hover {
  border: solid 1px rgba(48,120,191,0.5);
}

@media (min-width: 576px) {
  .homenav {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .homenav-logo svg {
    width: 160px;
    margin-bottom: 0;
  }
  .homenav-btn {
    padding: 6px 16px 9px 16px;
  }
  .login-btn {
    margin-right: 8px;
  }
}

@media (min-width: 1200px) {
  .homenav-access {
    margin-top: 12px;
  }
}
