.log_card {
  overflow: hidden;
  display: flex;
  padding: 20px 24px;
}

.log_card-content{
  flex-grow: 1;
}

.log_card-actions{
 font-size: 10px;
}

.kebab-btn{
  position: relative;
  background-color: transparent;
  border-color: transparent;
  border-style: none;
  border-width: 0px;
  padding: 1px 7px 2px;
}

.fa-ellipsis-v{
  font-size: 18px;
  position: absolute;
  top: 0px;
  color: $medium-main;
  &:hover{
    color: $dark-main;
  }
}

li {
  a {
    color: $medium-main;
    &:hover{
      text-decoration: none;
      color: $dark-main;
    }
  }
}

.display-ul {
  display: block;
  list-style: none;
}

.kebab-drop {
  min-width: 8rem;
}

.none-outline:focus {
  box-shadow: none;
  outline: none;
}

.log_card:hover {
  text-decoration: none;
}

.log_card-badge {
  position: relative;
  display: flex;
  flex: 0 0 32px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 16px;
}

.log_card-list {
  position: relative;

  &:before {
    content: '';
    top: 32px;
    left: 39px;
    width: 2px;
    height: 300vh;
    background: $line-main;
    position: absolute;
  }

  li:first-child {
    .log_card-badge::before {
      display: none;
    }
  }
}

.log_card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul.list-inline{
  color: $medium-main;
  font-size: 14px;
  margin: 0;
}

p.log_card-time {
  color: $medium-main;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.035em;
  margin-bottom: 4px;
}

h2.log_card-type {
  color: $dark-main;
  font-weight: 600;
  line-height: 1;
  font-size: 18px;
  margin-bottom: 4px;
}

p.log_card-subtitle, .log_card-subtitle {
  color: $medium-main;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.btn-group_dropleft {
   display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bgc-diaper_changing {
  background-color: $light-diaper;
}

.bgc-crying {
  background-color: $light-crying;
}

.bgc-medication {
  background-color: $light-medication;
}

.bgc-vomiting {
  background-color: $light-vomiting;
}

.bgc-bruise {
  background-color: $light-bruise;
}

.bgc-fever {
  background-color: $light-fever;
}

.bgc-feeding {
  background-color: $light-feeding;
}

.bgc-other {
  background-color: $light-other;
}

.bgc-diaper_changing svg {
  height: 15px;
  margin-bottom: 3px;
}
.bgc-feeding svg {
  height: 19px;
  margin-bottom: 4px;
}
.bgc-crying svg {
  height: 18px;
  margin-bottom: 4px;
}
.bgc-medication svg {
  height: 17px;
  margin-bottom: 3px;
}
.bgc-fever svg {
  height: 19px;
  margin-bottom: 4px;
}
.bgc-vomiting svg {
  width: 18px;
  margin-top: 1px;
}
.bgc-bruise svg {
  width: 18px;
  margin-bottom: 1px;
}
.bgc-other svg {
  width: 16px;
  margin-bottom: 1px;
}

@media (min-width: 576px) {
  .log_card {
    padding: 20px 0;
  }
  .log_card-list:before {
    left: 15px;
  }
}

@media (min-width: 992px) {
  .log_card {
    padding: 24px 40px;
    border-radius: 8px;
    margin: 0 60px;
    &:hover {
    background-color: #F8F9F9;
    }
  }
  .log_card-list:before {
    left: 131px;
  }
  .log_card-badge {
    height: 64px;
    width: 64px;
    margin-right: 24px;
  }
  p.log_card-time {
    font-size: 14px;
    letter-spacing: 0.035em;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  h2.log_card-type {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 14px;
  }
  p.log_card-subtitle, .log_card-subtitle {
    font-size: 18px;
    margin: 0;
  }
  .bgc-diaper_changing svg {
    height: 29px;
    margin-bottom: 0;
  }
  .bgc-feeding svg {
    height: 38px;
  }
  .bgc-crying svg {
    height: 36px;
    margin-bottom: 0;
  }
  .bgc-medication svg {
    height: 31px;
    margin-bottom: 0;
  }
  .bgc-fever svg {
    height: 39px;
    margin-bottom: 3px;
  }
  .bgc-vomiting svg {
    width: 36px;
  }
  .bgc-bruise svg {
    width: 36px;
  }
  .bgc-other svg {
    width: 30px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  ul {
    // background-color: yellow;
  }
}
