.modal-backdrop {
  background-color: $border-main;
}
.modal-backdrop.show {
  opacity: 0.8;
}
.modal-dialog {
  margin: 0;
}
.modal-content {
  border: none;
  border-radius: 0;
  height: 100vh;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.modal-height {
  height: calc(100vh - 169px);
}
.simple_form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mx-1 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-size: 16px;
}
.form-control {
  height: 40px;
}

// HEADER -----------------------------------------

.modal-header {
  background-color: $white;
  z-index: 2000;
  padding: 0 0 24px 24px;
  height: 205px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: none;
  letter-spacing: 0.055em;
}
.modal-episode-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal-draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 15px 0;
}
.modal-string {
  width: 2px;
  height: 40px;
  background-color: $line-main;
}


//EPISODE BADGE AND ICON
//CRYING
.modal-crying-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-crying;
}
.modal-crying-icon svg {
  width: 28px;
}


//BRUISE
.modal-bruise-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-bruise;
}
.modal-bruise-icon svg {
  width: 28px;
}


//DIAPER CHANGING
.modal-diaper_changing-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-diaper;
}
.modal-diaper_changing-icon svg {
  width: 26px;
  margin-top: 2px;
}

//FEEDING
.modal-feeding-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-feeding;
}
.modal-feeding-icon svg {
  height: 28px;
}


//FEVER
.modal-fever-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-fever;
}
.modal-fever-icon svg {
  height: 28px;
}

//MEDICATION
.modal-medication-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-medication;
}
.modal-medication-icon svg {
  width: 20px;
}


//OTHER
.modal-other-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-other;
}
.modal-other-icon svg {
  width: 24px;
}


//VOMITING
.modal-vomiting-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-vomiting;
}
.modal-vomiting-icon svg {
  width: 28px;
  margin-top: 2px;
}


//

.modal-title {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.035em;
  line-height: 1;
}
.modal-header .close {
  margin: 0;
  padding: 20px 24px 24px 24px;
}
.close {
  opacity: 0.3;
}

// CONTENT ----------------------------------------

.modal-body {
  padding: 0 24px;
}
.modal-dialog-centered {
  // min-height: 100vh;
}
.form-group {
  margin: 0 0 24px 0;
}
input, textarea {
  width: 100%;
  border: solid 1px #DEE0E3;
  border-radius: 4px;
  padding: 11px 12px;
  font-size: 18px;
  color: $dark-main;
}
input::placeholder, textarea::placeholder {
  color: $light-main;
}
.modal-time input {
  height: 45px;
  text-transform: uppercase;
  padding: 10px 12px 14px 12px;
}
.modal-time input::placeholder {
  color: $dark-main;
}
.modal-food-type {
  padding: 0;
}
.modal label {
  color: $medium-main;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 8px 0;
}
.form-check {
  padding-left: 0;
  margin-bottom: -32px;
}
.form-check-input {
  margin-top: 13px;
  margin-left: 0;
}
.form-check-label {
  margin: 10px 0 0 0 !important;
  padding-left: 24px;
}
.episode_rash .form-check,
.episode_pee .form-check,
.episode_poop .form-check,
.episode_diarrhea .form-check,
.episode_blood .form-check
 {
  margin-bottom: -28px;
  background-color: #F8F9F9;
  border-radius: 4px;
  height: 40px;
}
.episode_blood .form-check {
  margin-bottom: 0;
}

// FOOTER -----------------------------------------

.modal-footer {
  border-top: none;
  padding: 0;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.btn-episode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 72px;
  font-size: 24px;
  font-weight: 600;
  border: none;
  border-radius: 0;
  margin: 0;
}

//EPISODE BUTTONS
//CRYING
.btn-crying {
  color: $dark-main;
  background-color: $dark-crying;
}
.btn-crying:hover {
  text-decoration: none;
  background-color: $hover-crying;
}

//BRUISE
.btn-bruise {
  color: $dark-main;
  background-color: $dark-bruise;
}
.btn-bruise:hover {
  text-decoration: none;
  background-color: $hover-bruise;
}

//DIAPER CHANGING
.btn-diaper_changing {
  color: $dark-main;
  background-color: $dark-diaper;
}
.btn-diaper_changing:hover {
  text-decoration: none;
  background-color: $hover-diaper;
}

//FEEDING
.btn-feeding {
  color: $dark-main;
  background-color: $dark-feeding;
}
.btn-feeding:hover {
  text-decoration: none;
  background-color: $hover-feeding;
}

//FEEVER
.btn-fever {
  color: $dark-main;
  background-color: $dark-fever;
}
.btn-fever:hover {
  text-decoration: none;
  background-color: $hover-fever;
}

//MEDICATION
.btn-medication {
  color: $dark-main;
  background-color: $dark-medication;
}
.btn-medication:hover {
  text-decoration: none;
  background-color: $hover-medication;
}

//OTHER
.btn-other {
  color: $dark-main;
  background-color: $dark-other;
}
.btn-other:hover {
  text-decoration: none;
  background-color: $hover-other;
}

//VOMITING
.btn-vomiting {
  color: $dark-main;
  background-color: $dark-vomiting;
}
.btn-vomiting:hover {
  text-decoration: none;
  background-color: $hover-vomiting;
}

// PHABLETS ---------------------------------------

@media (min-width: 375px) {
  .form-control {
    height: 48px;
  }
  .modal label {
    margin: 0 0 16px 0;
  }
  .form-group {
    margin: 0 0 32px 0;
  }
}

// DESKTOP ----------------------------------------

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 767px;
  }
}

@media (min-width: 768px) {
  .modal-height {
    height: auto;
  }
  .modal-footer {
    position: inherit;
    bottom: none;
  }
  .modal-dialog {
    max-width: 730px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-content {
    height: auto;
    border-radius: 8px;
  }
  .modal-body {
    padding: 0 95px;
  }
  .modal-header {
    height: 108px;
    padding: 0 0 13px 25px;
  }
  .modal-episode-type {
    flex-direction: row;
  }
  .modal-string {
    height: 32px;
  }
  .modal-title {
    margin: 34px 0 0 22px;
  }
  .form-group {
    margin: 0 0 40px 0;
  }
  .form-group:last-child {
    margin: 0 0 56px 0;
  }
  .btn-episode {
    border-radius: 0 0 8px 8px !important;
  }

  //BTN FOR DESKTOP
  //CRYING
  .btn-crying {
    border-radius: 0 0 8px 8px;
  }

  //BRUISE
  .btn-bruise {
    border-radius: 0 0 8px 8px;
  }

  //FEEDING
  .btn-feeding {
    border-radius: 0 0 8px 8px;
  }

  //FEVER
  .btn-fever {
    border-radius: 0 0 8px 8px;
  }

  //MEDICATION
  .btn-medication {
    border-radius: 0 0 8px 8px;
  }

  //OTHER
  .btn-other {
    border-radius: 0 0 8px 8px;
  }

  //VOMITING
  .btn-vomiting {
    border-radius: 0 0 8px 8px;
  }

  //DIAPER CHANGING
  .btn-diaper_changing {
    border-radius: 0 0 8px 8px;
  }
  .form-check {
    padding-left: 0;
    margin-bottom: -32px;
  }
  .form-check-input {
    margin-top: 12px;
    margin-left: 0;
  }
  .form-check-label {
    margin: 10px 0 0 0 !important;
    padding-left: 32px;
  }
  .episode_rash .form-check,
  .episode_pee .form-check,
  .episode_poop .form-check,
  .episode_diarrhea .form-check,
  .episode_blood .form-check
   {
    margin-bottom: -28px;
    background-color: $white;
    border-radius: 0;
    height: 24px;
  }
  .episode_blood .form-check {
    margin-bottom: 0;
  }
}
