
// HEADER -----------------------------------------

.modal-header {
  padding: 0 0 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-episode-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal-draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 15px 0;
}
.modal-string {
  width: 2px;
  height: 40px;
  background-color: $line-main;
}
.modal-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $light-feeding;
}
.modal-icon svg {
  height: 28px;
}
.modal-title {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.035em;
  line-height: 1;
}
.modal-header .close {
  margin: 0;
  padding: 20px 24px 24px 24px;
}
.close {
  opacity: 0.3;
}

// CONTENT ----------------------------------------

.modal-body {
  padding: 0 24px 24px 24px;
}
.modal-dialog-centered {
  min-height: 100vh;
}
.modal-dialog {
  margin: 0;
}
.modal-content {
  border: none;
  border-radius: 0;
  height: 100vh;
}
.modal-time input {
  border: solid 1px #DEE0E3;
  border-radius: 4px;
  width: 100%;
}

// FOOTER -----------------------------------------

.modal-footer {
  border-top: none;
  padding: 0;
}
.btn-episode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 72px;
  font-size: 24px;
  font-weight: 600;
  border: none;
  border-radius: 0;
}
.btn-feeding {
  color: $dark-main;
  background-color: $dark-feeding;
}
.btn-feeding:hover {
  text-decoration: none;
}
