// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/episode_card_diaper";
@import "components/episode_card_feeding";
@import "components/episode_card_crying";
@import "components/episode_card_medication";
@import "components/episode_card_fever";
@import "components/episode_card_vomiting";
@import "components/episode_card_bruise";
@import "components/episode_card_other";

@import "components/modal";

body {
  -webkit-font-smoothing: antialiased;
  color: $dark-main;
}
h1 {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.035em;
}


